div, p, table, select, input {
	font-family: Georgia, Tahoma, sans-serif;
}

.description {
	margin-top: 10px;
	color: gray;
	font-style: italic;
}

.red {
	color: red;
}

.green {
	color: green;
}

.buttons a {
	float: left;
	display: inline-block;
	margin: 5px;
	-moz-box-shadow: inset 0px 1px 0px 0px #2e2d2e;
	-webkit-box-shadow: inset 0px 1px 0px 0px #2e2d2e;
	box-shadow: inset 0px 1px 0px 0px #2e2d2e;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #4d4c4d), color-stop(1, #292929));
	background: -moz-linear-gradient(center top, #4d4c4d 5%, #292929 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4d4c4d', endColorstr='#292929');
	background-color: #4d4c4d;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #242324;
	display: inline-block;
	color: #12d7ed;
	font-size: 14px;
	font-weight: bold;
	padding: 6px 10px;
	text-decoration: none;
	text-shadow: 1px 1px 0px #121214;
}

.buttons a:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #292929), color-stop(1, #4d4c4d));
	background: -moz-linear-gradient(center top, #292929 5%, #4d4c4d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#292929', endColorstr='#4d4c4d');
	background-color: #292929;
}

.buttons a:active {
	position: relative;
	top: 1px;
}

.buttons a.research {
	float: left;
	display: inline-block;
	margin: 5px;
	-moz-box-shadow: inset 0px 1px 0px 0px #caefab;
	-webkit-box-shadow: inset 0px 1px 0px 0px #caefab;
	box-shadow: inset 0px 1px 0px 0px #caefab;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77d42a), color-stop(1, #5cb811));
	background: -moz-linear-gradient(center top, #77d42a 5%, #5cb811 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811');
	background-color: #77d42a;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border: 1px solid #268a16;
	border-radius: 6px;
	display: inline-block;
	color: #306108;
	font-size: 14px;
	font-weight: bold;
	padding: 6px 10px;
	text-decoration: none;
	text-shadow: 1px 1px 0px #aade7c;
}

.buttons a.research:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5cb811), color-stop(1, #77d42a));
	background: -moz-linear-gradient(center top, #5cb811 5%, #77d42a 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811', endColorstr='#77d42a');
	background-color: #5cb811;
}

/*filters*/
.filters {
	position: relative;
	margin-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	background: rgba(0, 0, 0, .1);
	border-radius: 7px;
	overflow: hidden;
}

.filters > div[id] {
	float: left;
	width: 135px;
}

.filters #bg {
	float: none;
	width: auto;
	position: fixed;
	font-size: 180px;
	opacity: 0.25;
	top: 235px;
	z-index: -1;
	overflow: hidden;
}

.filters #bg span {
	font-size: 70px;
}

#nfl-filters #bg {
	color: orange;
}

#nba-filters #bg {
	color: red;
}

#nhl-filters #bg {
	color: blue;
}

#mlb-filters #bg {
	color: green;
}

input[type="checkbox"] {
	display: inline-block;
	margin-left: 5px;
}

input[type="range"] {
	display: inline-block;
	width: 125px;
	margin-left: 5px;
}

input[type="number"] {
	display: inline-block;
	width: 100px;
	margin: 5px 5px;
	font-size: 16px;
}

label {
	display: inline-block;
	width: 110px;
}

.filter_header {
	display: block;
	width: 130px;
	font-weight: bold;
	margin-top: 10px;
	margin-right: 15px;
	margin-bottom: 5px;
}

/*tables*/
#games, #tables > div {
	margin-right: 20px;
}

#tables > div > table {
	display: inline;
	float: left;
	margin-bottom: 5px;
	margin-left: 5px;
}

#tables {
	margin-top: 5px;
	overflow: hidden;
	clear: both;
}

table a:link {
	color: #666;
	font-weight: bold;
	text-decoration: none;
}

table a:visited {
	color: #999999;
	font-weight: bold;
	text-decoration: none;
}

table a:active,
table a:hover {
	color: #bd5a35;
	text-decoration: underline;
}

table {
	color: #666;
	font-size: 11px;
	text-shadow: 1px 1px 0px #fff;
	background: #eaebec;
	border: #ccc 1px solid;

	border-radius: 3px;

	box-shadow: 0 1px 2px #d1d1d1;
}

table th {
	padding: 10px 5px;
	border-top: 1px solid #fafafa;
	border-bottom: 1px solid #e0e0e0;

	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
}

table th:first-child {
	text-align: left;
	padding-left: 20px;
}

table tr:first-child th:first-child {
	border-top-left-radius: 3px;
}

table tr:first-child th:last-child {
	border-top-right-radius: 3px;
}

table tr {
	text-align: center;
	padding-left: 20px;
}

table td:first-child {
	text-align: left;
	border-left: 0;
}

table td {
	padding: 10px 5px;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;

	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
}

table tr.even td {
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
}

table tr:last-child td {
	border-bottom: 0;
}

table tr:last-child td:first-child {
	border-bottom-left-radius: 3px;
}

table tr:last-child td:last-child {
	border-bottom-right-radius: 3px;
}

table tr:hover td {
	background: #f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
}

/*my fixes*/
#games th {
	cursor: hand;
}

table tr td:first-child, table tr th:first-child {
	text-align: right;
}

input[type="checkbox"] {
	display: none;
}

input[type="checkbox"] + label span {
	display: inline-block;
	width: 19px;
	height: 19px;
	margin: -1px 4px 0 0;
	vertical-align: middle;
	background: url(../img/check_radio_sheet.png) left top no-repeat;
	cursor: pointer;
}

input[type="checkbox"]:checked + label span {
	background: url(../img/check_radio_sheet.png) -19px top no-repeat;
}

/*preloader*/

#lightbox {
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .5);
	display: none;
}

#preloader {
	width: 100px;
	height: 100px;
	background: rgba(0, 0, 0, .5);
	border-radius: 54px;
	border: 4px solid #000000;
	position: absolute;
	margin-left: -20px;
	margin-top: -40px;
	left: 50%;
	top: 50%;
}

#preloader:after {
	content: "";
	position: absolute;
	top: -4px;
	left: -4px;
	border: 4px solid #ffffff;
	border-radius: 54px;
	height: 100px;
	width: 100px;
	clip: rect(0px, 60px, 50px, 0px);

	-moz-animation: rotate 2s;
	-moz-animation-timing-function: linear;
	-moz-animation-iteration-count: infinite;

	-webkit-animation: rotate 2s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;

	-ms-animation: rotate 2s;
	-ms-animation-timing-function: linear;
	-ms-animation-iteration-count: infinite;

	animation: rotate 2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@-moz-keyframes rotate {
	0% {
		-moz-transform: rotate(0deg);
	}
	100% {
		-moz-transform: rotate(360deg);
	}
}

@-webkit-keyframes rotate {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@-ms-keyframes rotate {
	0% {
		-ms-transform: rotate(0deg);
	}
	100% {
		-ms-transform: rotate(360deg);
	}
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}